@font-face
	font-family 'icomoon'
	font-weight normal
	src url('../fonts/icomoon.eot')
	src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),url('../fonts/icomoon.woff') format('woff'),url('../fonts/icomoon.ttf') format('truetype'),url('../fonts/icomoon.svg#icomoonn') format('svg')
@font-face
	font-family 'OswaldRegular'
	font-weight: normal
	src url('../fonts/oswald-regular-webfont.eot')
	src url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-regular-webfont.woff') format('woff'), url('../fonts/oswald-regular-webfont.woff2') format('woff2'), url('../fonts/oswald-regular-webfont.ttf') format('truetype'), url('../fonts/oswald-regular-webfont.svg#Oswald') format('svg')
@font-face
	font-family 'OswaldBold'
	font-weight: normal
	src url('../fonts/oswald-bold-webfont.eot')
	src url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-bold-webfont.woff') format('woff'), url('../fonts/oswald-bold-webfont.woff2') format('woff2'), url('../fonts/oswald-bold-webfont.ttf') format('truetype'), url('../fonts/oswald-bold-webfont.svg#Oswald') format('svg')
@font-face
	font-family 'OswaldLight'
	font-weight: normal
	src url('../fonts/oswald-light-webfont.eot')
	src url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-light-webfont.woff') format('woff'), url('../fonts/oswald-light-webfont.woff2') format('woff2'), url('../fonts/oswald-light-webfont.ttf') format('truetype'), url('../fonts/oswald-light-webfont.svg#Oswald') format('svg')
